html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 15px 0 15px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 8.33333333%;
   max-width: 8.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid1 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 83.33333333%;
   max-width: 83.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
#LayoutGrid1 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 8.33333333%;
   max-width: 8.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 320px)
{
#LayoutGrid1 > .col-1, #LayoutGrid1 > .col-2, #LayoutGrid1 > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Icon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#Icon1
{
   height: 32px;
   width: 32px;
}
#Icon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 32px;
   line-height: 32px;
   vertical-align: middle;
   width: 31px;
}
#wb_Icon1:hover #Icon1 i
{
   color: #FFFFFF;
}
.Extension8, .Extension8 *
{
   box-sizing: border-box;
}
.Extension8
{
   position: fixed;
   left: 0;
   top: 0;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   z-index: 999;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 11.43px;
}
.Extension8 input[type=checkbox]
{
   position: absolute;
   top: -9999px;
   left: -9999px;
}
.Extension8 a
{
   text-decoration: none;
   color: #FFFFFF;
}
.Extension8 a:hover
{
   color: #C8C8C8;
}
.Extension8-item i
{
   width: 1.1em;
}
.Extension8-item 
{
   position: relative;
   display: flex;
   justify-content: center;
   font-size: 1.4em;
   font-weight: 300;
   line-height: 1.4em;
   padding: 0.5em;
   transform: translateX(calc(-100% - 2.4em));
   transition: background-color 200ms, color 200ms;
}
.Extension8-item:nth-child(2)
{
   width: 16.8em;
   background-color: #949494;
}
.Extension8-item:nth-child(2)::after 
{
   position: absolute;
   content: "";
   width: 0;
   height: 0;
   left: 100%;
   top: 0;
   border: 1.2em solid #949494;
   border-right: 1.2em solid transparent;
   border-bottom: 1.2em solid transparent;
   transition: border 200ms;
}
.Extension8-item:nth-child(2):hover 
{
   background-color: #6F6F6F;
}
.Extension8-item:nth-child(2):hover::after 
{
   border: 1.2em solid #6F6F6F;
   border-right: 1.2em solid transparent;
   border-bottom: 1.2em solid transparent;
}
.Extension8-item:nth-child(3)
{
   width: 14.4em;
   background-color: #C0C0C0;
}
.Extension8-item:nth-child(3)::after 
{
   position: absolute;
   content: "";
   width: 0;
   height: 0;
   left: 100%;
   top: 0;
   border: 1.2em solid #C0C0C0;
   border-right: 1.2em solid transparent;
   border-bottom: 1.2em solid transparent;
   transition: border 200ms;
}
.Extension8-item:nth-child(3):hover 
{
   background-color: #909090;
}
.Extension8-item:nth-child(3):hover::after 
{
   border: 1.2em solid #909090;
   border-right: 1.2em solid transparent;
   border-bottom: 1.2em solid transparent;
}
.Extension8-item:nth-child(4)
{
   width: 12em;
   background-color: #606060;
}
.Extension8-item:nth-child(4)::after 
{
   position: absolute;
   content: "";
   width: 0;
   height: 0;
   left: 100%;
   top: 0;
   border: 1.2em solid #606060;
   border-right: 1.2em solid transparent;
   border-bottom: 1.2em solid transparent;
   transition: border 200ms;
}
.Extension8-item:nth-child(4):hover 
{
   background-color: #484848;
}
.Extension8-item:nth-child(4):hover::after 
{
   border: 1.2em solid #484848;
   border-right: 1.2em solid transparent;
   border-bottom: 1.2em solid transparent;
}
.Extension8-item:nth-child(5)
{
   width: 9.6em;
   background-color: #808080;
}
.Extension8-item:nth-child(5)::after 
{
   position: absolute;
   content: "";
   width: 0;
   height: 0;
   left: 100%;
   top: 0;
   border: 1.2em solid #808080;
   border-right: 1.2em solid transparent;
   border-bottom: 1.2em solid transparent;
   transition: border 200ms;
}
.Extension8-item:nth-child(5):hover 
{
   background-color: #606060;
}
.Extension8-item:nth-child(5):hover::after 
{
   border: 1.2em solid #606060;
   border-right: 1.2em solid transparent;
   border-bottom: 1.2em solid transparent;
}
.Extension8-item:nth-child(6)
{
   width: 7.2em;
   background-color: #383838;
}
.Extension8-item:nth-child(6)::after 
{
   position: absolute;
   content: "";
   width: 0;
   height: 0;
   left: 100%;
   top: 0;
   border: 1.2em solid #383838;
   border-right: 1.2em solid transparent;
   border-bottom: 1.2em solid transparent;
   transition: border 200ms;
}
.Extension8-item:nth-child(6):hover 
{
   background-color: #2A2A2A;
}
.Extension8-item:nth-child(6):hover::after 
{
   border: 1.2em solid #2A2A2A;
   border-right: 1.2em solid transparent;
   border-bottom: 1.2em solid transparent;
}
.Extension8-close 
{
   position: relative;
   font-family: FontAwesome;
   font-size: 1.4em;
   color: #FFFFFF;
   width: 7.2em;
   height: 7.2em;
   cursor: pointer;
   transform: translateX(-100%);
}
.Extension8-close::before 
{
   position: absolute;
   content: "";
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 100 100'%3E%3Cpath d='M98 75 C99 76, 100 78, 100 80 C100 83, 99 85, 98 86 L86 98 C85 99, 83 100, 80 100 C78 100, 76 99, 75 98 L50 73 L25 98 C24 99, 22 100, 20 100 C17 100, 15 99, 14 98 L2 86 C1 85, 0 83, 0 80 C0 78, 1 76, 2 75 L27 50 L2 25 C1 24, 0 22, 0 20 C0 17, 1 15, 2 14 L14 2 C15 1, 17 0, 20 0 C22 0, 24 1, 25 2 L50 27 L75 2 C76 1, 78 0, 80 0 C83 0, 85 1, 86 2 L98 14 C99 15, 100 17, 100 20 C100 22, 99 24, 98 25 L73 50 L98 75'/%3E%3C/svg%3E");
   background-repeat: no-repeat;
   background-size: 1.5em;
   background-position-x: 25%;
   background-position-y: 25%;
   width: 100%;
   height: 100%;
   z-index: 1;
   transition: background-image 200ms }
.Extension8-close:hover::before 
{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C8C8C8' viewBox='0 0 100 100'%3E%3Cpath d='M98 75 C99 76, 100 78, 100 80 C100 83, 99 85, 98 86 L86 98 C85 99, 83 100, 80 100 C78 100, 76 99, 75 98 L50 73 L25 98 C24 99, 22 100, 20 100 C17 100, 15 99, 14 98 L2 86 C1 85, 0 83, 0 80 C0 78, 1 76, 2 75 L27 50 L2 25 C1 24, 0 22, 0 20 C0 17, 1 15, 2 14 L14 2 C15 1, 17 0, 20 0 C22 0, 24 1, 25 2 L50 27 L75 2 C76 1, 78 0, 80 0 C83 0, 85 1, 86 2 L98 14 C99 15, 100 17, 100 20 C100 22, 99 24, 98 25 L73 50 L98 75'/%3E%3C/svg%3E");
}
.Extension8-close::after 
{
   position: absolute;
   content: "";
   width: 0;
   height: 0;
   border: 3.6em solid #000000;
   border-right: 3.6em solid transparent;
   border-bottom: 3.6em solid transparent;
   transition: border 200ms;
}
.Extension8-close:hover::after 
{
   border: 3.6em solid #000000;
   border-right: 3.6em solid transparent;
   border-bottom: 3.6em solid transparent;
}
input[type=checkbox]:checked ~ .Extension8-item:nth-child(2)
{
   transition: transform 200ms 400ms, background-color 200ms, color 200ms;
   transform: translateX(calc(-100% - 2.4em)) !important;
}
input[type=checkbox]:checked ~ .Extension8-item:nth-child(3)
{
   transition: transform 200ms 300ms, background-color 200ms, color 200ms;
   transform: translateX(calc(-100% - 2.4em)) !important;
}
input[type=checkbox]:checked ~ .Extension8-item:nth-child(4)
{
   transition: transform 200ms 200ms, background-color 200ms, color 200ms;
   transform: translateX(calc(-100% - 2.4em)) !important;
}
input[type=checkbox]:checked ~ .Extension8-item:nth-child(5)
{
   transition: transform 200ms 100ms, background-color 200ms, color 200ms;
   transform: translateX(calc(-100% - 2.4em)) !important;
}
input[type=checkbox]:checked ~ .Extension8-item:nth-child(6)
{
   transition: transform 200ms 0ms, background-color 200ms, color 200ms;
   transform: translateX(calc(-100% - 2.4em)) !important;
}
input[type=checkbox]:checked ~ .Extension8-close 
{
   transition: transform 200ms 400ms, background-color 200ms;
   transform: translateY(-12em) !important;
}
input[type=checkbox]:checked ~ .Extension8-close::before 
{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 100 100'%3E%3Cpath d='M100 85 L100 95 C100 96, 100 98, 99 99 C98 100, 97 100, 96 100 L4 100 C3 100, 2 100, 1 99 C0 98, 0 96, 0 95 L0 85 C0 84, 0 82, 1 81 C2 81, 3 80, 4 80 L96 80 C97 80, 98 81, 99 81 C100 82, 100 84, 100 85 Z M100 45 L100 55 C100 56, 100 58, 99 59 C98 60, 97 60, 96 60 L4 60 C3 60, 2 60, 1 59 C0 58, 0 56, 0 55 L0 45 C0 44, 0 42, 1 41 C2 41, 3 40, 4 40 L96 40 C97 40, 98 41, 99 41 C100 42, 100 44, 100 45 Z M100 5 L100 15 C100 16, 100 18, 99 19 C98 20, 97 20, 96 20 L4 20 C3 20, 2 20, 1 19 C0 18, 0 16, 0 15 L0 5 C0 4, 0 2, 1 1 C2 1, 3 0, 4 0 L96 0 C97 0, 98 1, 99 1 C100 2, 100 4, 100 5'/%3E%3C/svg%3E");
   transition: background-image 200ms }
input[type=checkbox]:checked ~ .Extension8-close:hover::before 
{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C8C8C8' viewBox='0 0 100 100'%3E%3Cpath d='M100 85 L100 95 C100 96, 100 98, 99 99 C98 100, 97 100, 96 100 L4 100 C3 100, 2 100, 1 99 C0 98, 0 96, 0 95 L0 85 C0 84, 0 82, 1 81 C2 81, 3 80, 4 80 L96 80 C97 80, 98 81, 99 81 C100 82, 100 84, 100 85 Z M100 45 L100 55 C100 56, 100 58, 99 59 C98 60, 97 60, 96 60 L4 60 C3 60, 2 60, 1 59 C0 58, 0 56, 0 55 L0 45 C0 44, 0 42, 1 41 C2 41, 3 40, 4 40 L96 40 C97 40, 98 41, 99 41 C100 42, 100 44, 100 45 Z M100 5 L100 15 C100 16, 100 18, 99 19 C98 20, 97 20, 96 20 L4 20 C3 20, 2 20, 1 19 C0 18, 0 16, 0 15 L0 5 C0 4, 0 2, 1 1 C2 1, 3 0, 4 0 L96 0 C97 0, 98 1, 99 1 C100 2, 100 4, 100 5'/%3E%3C/svg%3E");
}
.Extension8-close:hover
{
   fill: #C8C8C8 !important;
}
input[type=checkbox]:not(:checked) ~ .Extension8-item:nth-child(2)
{
   transition: transform 200ms 100ms, background-color 200ms, color 200ms;
   transform: translateX(0) !important;
}
input[type=checkbox]:not(:checked) ~ .Extension8-item:nth-child(3)
{
   transition: transform 200ms 200ms, background-color 200ms, color 200ms;
   transform: translateX(0) !important;
}
input[type=checkbox]:not(:checked) ~ .Extension8-item:nth-child(4)
{
   transition: transform 200ms 300ms, background-color 200ms, color 200ms;
   transform: translateX(0) !important;
}
input[type=checkbox]:not(:checked) ~ .Extension8-item:nth-child(5)
{
   transition: transform 200ms 400ms, background-color 200ms, color 200ms;
   transform: translateX(0) !important;
}
input[type=checkbox]:not(:checked) ~ .Extension8-item:nth-child(6)
{
   transition: transform 200ms 500ms, background-color 200ms, color 200ms;
   transform: translateX(0) !important;
}
input[type=checkbox]:not(:checked) ~ .Extension8-close 
{
   transition: transform 200ms 100ms, background-color 200ms;
   transform: translateY(0) !important;
}
.Extension8 i
{
   font-size: 16px;
   margin-right: 0.5em;
   text-align: center;
   vertical-align: middle;
   width: 18px;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 15px 0 15px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2, #LayoutGrid2 > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2, #LayoutGrid2 > .col-3
{
   flex: 0 0 auto;
}
#LayoutGrid2 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 8.33333333%;
   max-width: 8.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid2 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 83.33333333%;
   max-width: 83.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
#LayoutGrid2 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 8.33333333%;
   max-width: 8.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 320px)
{
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2, #LayoutGrid2 > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Icon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#Icon2
{
   height: 32px;
   width: 32px;
}
#Icon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 32px;
   line-height: 32px;
   vertical-align: middle;
   width: 31px;
}
#wb_Icon2:hover #Icon2 i
{
   color: #FFFFFF;
}
