body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
a
{
   color: #FFFFFF;
   text-decoration: underline;
}
a:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
#FlexGrid1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   margin: 0 0 50px 0 ;
   padding: 0;
}
#FlexGrid1-grid
{
   display: grid;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   font-size: 0;
   grid-column-gap: 20px;
   grid-row-gap: 24px;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
   grid-template-areas:
      ". . . . . photo02 photo02 photo02 . . . . . . . . . ."
      ". . photo01 photo01 photo01 photo02 photo02 photo02 photo03 photo03 photo03 photo03 photo03 . . . . ."
      ". . photo01 photo01 photo01 photo02 photo02 photo02 photo03 photo03 photo03 photo03 photo03 . . . . ."
      ". . photo01 photo01 photo01 photo02 photo02 photo02 photo03 photo03 photo03 photo03 photo03 . . . . ."
      ". photo04 photo04 photo04 photo05 photo05 photo05 photo05 photo06 photo06 photo06 photo06 item-0 item-0 item-0 item-0 . ."
      ". photo04 photo04 photo04 photo05 photo05 photo05 photo05 photo06 photo06 photo06 photo06 item-0 item-0 item-0 item-0 . ."
      ". photo04 photo04 photo04 photo05 photo05 photo05 photo05 photo06 photo06 photo06 photo06 item-0 item-0 item-0 item-0 . ."
      ". photo04 photo04 photo04 photo05 photo05 photo05 photo05 photo06 photo06 photo06 photo06 item-0 item-0 item-0 item-0 . ."
      "photo08 photo08 photo08 photo08 elevation elevation elevation elevation elevation elevation elevation elevation elevation elevation . item-2 . ."
      "photo08 photo08 photo08 photo08 elevation elevation elevation elevation elevation elevation elevation elevation elevation elevation photo11 photo11 photo11 photo11"
      "photo08 photo08 photo08 photo08 elevation elevation elevation elevation elevation elevation elevation elevation elevation elevation photo11 photo11 photo11 photo11"
      "photo08 photo08 photo08 photo08 elevation elevation elevation elevation elevation elevation elevation elevation elevation elevation photo11 photo11 photo11 photo11"
      "photo08 photo08 photo08 photo08 elevation elevation elevation elevation elevation elevation elevation elevation elevation elevation photo15 photo15 photo15 ."
      "photo08 photo08 photo08 photo08 elevation elevation elevation elevation elevation elevation elevation elevation elevation elevation photo15 photo15 photo15 ."
      ". photo12 photo12 photo12 photo12 item-1 item-1 item-1 item-1 photo14 photo14 photo14 photo14 photo14 photo15 photo15 photo15 ."
      ". photo12 photo12 photo12 photo12 item-1 item-1 item-1 item-1 photo14 photo14 photo14 photo14 photo14 . . . ."
      ". photo12 photo12 photo12 photo12 item-1 item-1 item-1 item-1 photo14 photo14 photo14 photo14 photo14 . . . ."
      ". photo12 photo12 photo12 photo12 item-1 item-1 item-1 item-1 photo14 photo14 photo14 photo14 photo14 . . . ."
      ". photo12 photo12 photo12 photo12 item-1 item-1 item-1 item-1 photo14 photo14 photo14 photo14 photo14 . . . ."
      ". . . . . item-1 item-1 item-1 item-1 photo14 photo14 photo14 photo14 photo14 . . . ."
      ". . . . . item-1 item-1 item-1 item-1 photo14 photo14 photo14 photo14 photo14 . . . ."
      ". . . . . item-1 item-1 item-1 item-1 . . . . . . . . .";
}
#FlexGrid1 .photo02
{
   display: flex;
   grid-area: photo02;
   background-color: transparent;
   background-image: url('../images/103.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .photo01
{
   display: flex;
   grid-area: photo01;
   background-color: transparent;
   background-image: url('../images/DSCF0413.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .photo03
{
   display: flex;
   grid-area: photo03;
   background-color: transparent;
   background-image: url('../images/DSCF1124.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .photo04
{
   display: flex;
   grid-area: photo04;
   background-color: transparent;
   background-image: url('../images/DSCF1331.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .photo05
{
   display: flex;
   grid-area: photo05;
   background-color: transparent;
   background-image: url('../images/DSCF0415.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .photo06
{
   display: flex;
   grid-area: photo06;
   background-color: transparent;
   background-image: url('../images/DSCF2571.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .item-0
{
   display: flex;
   grid-area: item-0;
   background-color: transparent;
   background-image: url('../images/DSCF1838.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .photo08
{
   display: flex;
   grid-area: photo08;
   background-color: transparent;
   background-image: url('../images/DSCF2467.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .elevation
{
   display: flex;
   grid-area: elevation;
   background-color: transparent;
   background-image: url('../images/landingbasic.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .item-2
{
   display: flex;
   grid-area: item-2;
   background-color: transparent;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .photo11
{
   display: flex;
   grid-area: photo11;
   background-color: transparent;
   background-image: url('../images/DSCF2947.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .photo15
{
   display: flex;
   grid-area: photo15;
   background-color: transparent;
   background-image: url('../images/DSCF2805.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .photo12
{
   display: flex;
   grid-area: photo12;
   background-color: transparent;
   background-image: url('../images/DSCF2737.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .item-1
{
   display: flex;
   grid-area: item-1;
   background-color: transparent;
   background-image: url('../images/DSCF1355.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#FlexGrid1 .photo14
{
   display: flex;
   grid-area: photo14;
   background-color: transparent;
   background-image: url('../images/DSCF1819.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   padding: 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   align-content: center;
}
#wb_Image5
{
   margin: 0;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1024px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image6
{
   margin: 0;
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1024px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1024px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image7
{
   margin: 0;
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1024px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1024px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image8
{
   margin: 0;
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1024px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_darkmode_switch
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#darkmode_switch
{
   height: 32px;
   width: 32px;
}
#darkmode_switch i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 32px;
   line-height: 32px;
   vertical-align: middle;
   width: 31px;
}
#wb_darkmode_switch:hover #darkmode_switch i
{
   color: #FFFFFF;
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1024px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2, #LayoutGrid6 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2, #LayoutGrid6 > .row > .col-3
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: center;
}
#LayoutGrid6 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#LayoutGrid6 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 250px)
{
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2, #LayoutGrid6 > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_FontAwesomeIcon6
{
   background-color: #2E2E2E;
   background-image: none;
   border: 2px solid #D0D6D7;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon6 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_FontAwesomeIcon6:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #2E2E2E;
}
#FontAwesomeIcon6
{
   height: 22px;
   width: 22px;
}
#FontAwesomeIcon6 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_FontAwesomeIcon6:hover #FontAwesomeIcon6 i
{
   color: #2E2E2E;
}
#wb_FontAwesomeIcon6
{
   transform: rotate(0deg) ;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon6:hover
{
   transform: rotate(0deg) scale(1.4,1.4) ;
   transition: transform 500ms linear 0ms;
}
.darktheme body
{
   background-color: #000000;
}
#FlexGrid1-grid > div
{
   box-shadow: -5px 5px 10px rgba(0,0,0,0.50);
}
